<h1>
        <%= title %>
</h1>


<article class="vehicle-detail">
    <img src="<%= item.up_inv_image %>" alt="Image of <%= item.up_inv_item %>">
    <h2>
        <%= title %> Details
    </h2>
    <ul class="specs">
        <li><strong>Price: </strong>$<%= new Intl.NumberFormat('en-US').format(item.inv_price) %>
        </li>
        <li><strong>Category:</strong>
            <%= item.up_type %>
        </li>
    </ul>
    <p class="desc">
        <strong>Description: </strong>
        <%= item.up_inv_description %>
    </p>
</article>